API_ID=19722516 # get this value from my.telegram.org
API_HASH=041a11b1f107a0ddc732a1a4026d918b # get this value from my.telegram.org
BOT_TOKEN=5673063668:AAEV-KxRIisteo8iEh-vh-L7yIxYQFL-QYA # get this value from @Botfather
MONGO_DB_URI=mongodb+srv://abc:abc@music.dlua0.mongodb.net/yukki?retryWrites=true&w=majority # get this value from mongodb.com
LOG_GROUP_ID=-1001463424967 # get this value from in your log group 
MUSIC_BOT_NAME=yukki # your music bot name 
STRING_SESSION=pyrogram_string_session # get this value from @yukkistringbot
